
/**/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* */
body {
    background: #000;
    color: #fff;
    
}
/* */
.header{
    width: 100%;
    height: 100vh;
   background: #131414;
   display: flex;
   align-items: center;
   justify-content: center;


}
/* header adjust full top box*/ 

header{
    position: relative;
    align-items: center;
    width: 90%;
    height: 90%;
    border: 4px solid gray;
    border-radius: 20px;

     
}

/* slash and dot symbol in the header */

header .mic_dot {
    position: absolute;
width: 100px;
height: 15px;
background: gray;
left: 47%;
top: 5%;

border-radius: 0px 0px 10px 10px;
display: flex;
align-items: center;
justify-content: center;

}

/* */
header .mic_dot .mic{
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 50px;
margin-right: 10px;
margin-bottom: 1px;
}
/* */
header .mic_dot .dot{
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 1px;

}
/**/
header nav{
    width: 90%;
    height: 7.5%;
    border: 1px solid #fff;
    margin: auto;
display: flex;
align-items: center;
justify-content: space-between;

}
/**/
header nav .brand{
    width: 20%;
    height: 100%;
    color: #fff;
    /*border: 1px solid #fff;*/

    color: #fff;
    
    font-family: "Poppins" , sans-serif;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

}
header nav ul{
    width: 60%;
    height: 100%;
    border: 1px solid #fff;
    align-items: flex-end;
    justify-content: center;

}

header nav ul li{
    list-style-type: none;
    padding: 3px 10px;
}